# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 2. What is the mean salary is the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [73]:
import pandas as pd

# demo.csv
# file_path = "demo.csv"
# df = pd.read_csv(file_path)
# display(df)
# test.csv
file_path = "test1.csv"
test_df = pd.read_csv(file_path)
display(test_df)

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@yahoo.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,Midwest,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Bloomington,MI,49644,West,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@yahoo.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@gmail.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,West,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@yahoo.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,Midwest,elpotter,j4jkEXfC&Rh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,568435,Ms.,Bonnie,K,Baker,F,bonnie.baker@bp.com,Edwardo Baker,Pauline Baker,Robinson,...,064-02-6162,262-696-9171,Mukwonago,Waukesha,Mukwonago,WI,53149,West,bkbaker,a?Co:/r;nu_wTQ
996,597409,Mr.,Luke,S,Turner,M,luke.turner@charter.net,Javier Turner,Nicole Turner,Sykes,...,056-02-8240,231-629-0498,Freeport,Barry,Freeport,MI,49325,West,lsturner,7n5@64VC7|
997,359608,Hon.,Eva,S,Holman,F,eva.holman@hotmail.com,Coy Holman,Haley Holman,Boyle,...,343-11-1935,209-912-6705,Turlock,Stanislaus,Turlock,KS,95381,Midwest,esholman,DG<<<e}*WgD<U
998,803426,Mrs.,Maritza,H,Christian,F,maritza.christian@microsoft.com,Dion Christian,Stephanie Christian,Mooney,...,336-11-5030,203-224-9056,Stamford,Fairfield,Stamford,CT,6910,Northeast,mhchristian,Krs@#TnM
999,669618,Drs.,Phyllis,H,Dudley,F,phyllis.dudley@gmail.co.in,Jarrod Dudley,Latisha Dudley,Wilcox,...,101-02-6501,405-970-2341,Meno,Major,Meno,OK,73760,South,phdudley,h6wt@400%&Uu

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str

In [75]:
# df.columns
def max_joinings_month(df):
  month = df["Month Name of Joining"].value_counts().idxmax()
  print(month)

max_joinings_month(test_df)
# print("on test.csv",max_joinings_month(test_df))

December

## 2. What is the mean salary is the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float

In [65]:
def mean_ks_salary(df):
    return df[df["State"] == "KS"]["Salary"].mean()

# print("on demo.csv",mean_ks_salary(df))
print("on test.csv",mean_ks_salary(test_df))

on test.csv 121682.33333333333

## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [66]:
def max_mean_salary_region(df):
      
      region_mean_salary = df.groupby("Region")["Salary"].mean()
      return region_mean_salary.idxmax()


    


# print("on demo.csv",max_mean_salary_region(df))

print("on test.csv",max_mean_salary_region(test_df))

on test.csv West

## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [67]:
def min_mean_salary_region(df):
      region_mean_salary = df.groupby("Region")["Salary"].mean()
      return region_mean_salary.idxmin()

# print("on demo.csv",min_mean_salary_region(df))
print("on test.csv",min_mean_salary_region(test_df))

on test.csv Midwest

## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str

In [68]:
def max_mean_weight_city(df):
      city_mean_weight = df.groupby("City")["Weight in Kgs."].mean()
      return city_mean_weight.idxmax()

# print("on demo.csv",max_mean_weight_city(df))
print("on test.csv",max_mean_weight_city(test_df))

on test.csv Conroe

## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float

In [57]:
def dr_prof_mean_salary_diff(df):
      data = df.groupby("Name Prefix")["Salary"].mean()
      print(data)
      docs=data['Dr.']
      profs=data['Prof.']
      return docs-profs

print("on demo.csv",dr_prof_mean_salary_diff(df))

Name Prefix
Dr.      116286.109375
Drs.     124414.810345
Hon.     125026.056180
Mr.      122246.616715
Mrs.     116357.633540
Ms.      117705.770925
Prof.    122786.555556
Name: Salary, dtype: float64
on demo.csv -6500.446180555562

## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int

In [76]:
def females_with_yahoo(df):
    return df[(df["Gender"] == "F") & (df["E Mail"].str.contains("yahoo"))].shape[0]
    # your code here

# print("on demo.csv",females_with_yahoo(df))
print("on test.csv",females_with_yahoo(test_df))

on test.csv 161

## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int

In [71]:
def doctors_with_gmail(df):
    return df[(df["Name Prefix"] == "Drs.") & (df["E Mail"].str.contains("gmail"))].shape[0]+df[(df["Name Prefix"] == "Dr.") & (df["E Mail"].str.contains("gmail"))].shape[0]
# print("on demo.csv",doctors_with_gmail(df))
print("on test.csv",doctors_with_gmail(test_df))

on test.csv 15

## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [83]:

def youngest_male_password(df):
    # your code here
    youngest = df[df["Gender"] == "M"].sort_values("Age in Yrs.")
    
    return youngest.loc[0,"Password"]
# print("on demo.csv",youngest_male_password(df))
print("on test.csv",youngest_male_password(test_df))

KeyError: 0

In [10]:
def youngest_male_password(df):
    # your code here

    print("on demo.csv",youngest_male_password(df))
# print("on test.csv",youngest_male_password(test_df))

on demo.csv xPr\aGPTQ#v
on test.csv Output Hidden